body {
	font-family: 'Raleway', sans-serif;
    font-weight: 350;
    line-height: 1.75em;
}
nav, footer.page-footer {
	/*background-color: #ffffff;*/
	position: relative;
	background-color: transparent;
    border-bottom: none;
    box-shadow: none;
}

nav ul a, footer.page-footer .footer-copyright {
	color: #000;
}

.container {
	margin-top: 5em;
    box-shadow: 0 0 7px rgba(177, 177, 177, 0.8);
    padding: 4em;
}

#header {
	font-weight: 400;
}

#summary {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
	position: fixed;
	font-size: 2.25em;
	line-height: 1.5em;
}

#about img {
	max-height: 12.5em;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.self {
	height: 16em;
	width: auto;
	background: url(../img/self2.jpg) 50% 50% no-repeat;
	background-position: center center;
    background-size: cover;
    box-shadow: 0 0 7px rgba(0, 0, 0, .8);
	
}

.self img {

}

.self-circle {
	height: 100%;
	width: 100%;
	max-height: 22em;
	max-width: 22em;
		box-shadow: 0 0 7px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .8);
}

.about-card {
	color: #000;
	z-index: 10000;
}

#projects {

}

#projects li div {
	margin-bottom: 10px;
}

#projects .design {
	width: 500px;
}

.links img {
	height: auto;
	width: 70px;
	padding: 0 10px;
}

.animation {
	width: 24em;
	height: 24em;
	position: absolute;
}
.path {
  	stroke-dasharray: 30, 5;
  	animation: dash 120s linear;
  	position: absolute;
}

@keyframes dash {
  	to {
    	stroke-dashoffset: 2000;
  	}
}