body {
	font-family: Roboto, Calibri;
    font-weight: 350;
}
nav, footer.page-footer {
	/*background-color: #ffffff;*/
	position: relative;
	background-color: transparent;
    border-bottom: none;
    box-shadow: none;
}
nav ul a, footer.page-footer .footer-copyright {
	color: #000;
}

#header {
	font-weight: 300;
}

#self {
	box-shadow: 0 0 7px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .8);
}

.about-card {
	color: #000;
	z-index: 10000;
}

#about {
	margin-top: 20px;
}

#projects {

}

#projects li div {
	margin-bottom: 10px;
}

#projects img {
	height: auto;
	width: 200px;
}

#projects .design {
	width: 500px;
}

.links img {
	height: auto;
	width: 70px;
	padding: 0 10px;
}
